<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Qbikz_ProjectBootstrap>
            <version>0.1.0</version>
        </Qbikz_ProjectBootstrap>
    </modules>
    <global>
        <helpers>
            <projectbootstrap>
                <class>Qbikz_ProjectBootstrap_Helper</class>
            </projectbootstrap>
        </helpers>
        <models>
            <projectbootstrap>
                <class>Qbikz_ProjectBootstrap_Model</class>
                <resourceModel>projectbootstrap_setup</resourceModel>
            </projectbootstrap>
        </models>
        <resources>
            <projectbootstrap_setup>
                <setup>
                    <module>Qbikz_ProjectBootstrap</module>
                    <class>Qbikz_ProjectBootstrap_Model_Setup</class>
                </setup>
            </projectbootstrap_setup>
        </resources>
    </global>
    <default>
        <general>
            <country>
                <default>NL</default>
            </country>
            <locale>
                <timezone>Europe/Amsterdam</timezone>
                <code>nl_NL</code>
                <firstday>1</firstday>
            </locale>
            <store_information>
                <name>Store</name>
                <phone>+31 (0)88 1111 333</phone>
                <merchant_country>NL</merchant_country>
                <merchant_vat_number>107691590B01</merchant_vat_number>
                <address>Street 100 C, 8400 AA Amsterdam, The Netherlands</address>
            </store_information>
        </general>
        <web>
            <cookie>
                <cookie_lifetime>604800</cookie_lifetime>
                <cookie_restriction>1</cookie_restriction>
            </cookie>
            <session>
                <use_remote_addr>1</use_remote_addr>
                <use_http_via>0</use_http_via>
                <use_http_x_forwarded_for>0</use_http_x_forwarded_for>
                <use_http_user_agent>1</use_http_user_agent>
                <use_frontend_sid>0</use_frontend_sid>
            </session>
        </web>
        <design>
            <package>
                <name>default</name>
            </package>
            <head>
                <default_title>Default meta title</default_title>
                <default_description>Your default meta description goes here.</default_description>
                <default_keywords>Default, meta, keywords</default_keywords>
            </head>
            <header>
                <logo_src>images/logo.jpg</logo_src>
                <logo_alt>Store Name</logo_alt>
                <welcome>Welcome to Store Name</welcome>
            </header>
            <footer>
                <copyright><![CDATA[&copy; 2013 Store Name. All rights reserved.]]></copyright>
            </footer>
            <pagination>
                <pagination_frame>7</pagination_frame>
                <pagination_frame_skip>3</pagination_frame_skip>
                <anchor_text_for_previous>Vorige</anchor_text_for_previous>
                <anchor_text_for_next>Volgende</anchor_text_for_next>
            </pagination>
            <email>
                <logo_alt>Store Name</logo_alt>
            </email>
        </design>
        <currency>
            <options>
                <base>EUR</base>
                <default>EUR</default>
            </options>
            <import>
                <enabled>1</enabled>
            </import>
        </currency>
        <trans_email>
            <ident_general>
                <name>Store Name</name>
                <email>info@store.com</email>
            </ident_general>
            <ident_sales>
                <name>Store Name</name>
                <email>info@store.com</email>
            </ident_sales>
            <ident_support>
                <name>Store Name</name>
                <email>info@store.com</email>
            </ident_support>
            <ident_custom1>
                <name>John from Store Name</name>
                <email>john@store.com</email>
            </ident_custom1>
            <ident_custom2>
                <name>Jane from Store Name</name>
                <email>jane@store.com</email>
            </ident_custom2>
        </trans_email>
        <contacts>
            <contacts>
                <enabled>1</enabled>
            </contacts>
            <email>
                <recipient_email>info@store.com</recipient_email>
            </email>
        </contacts>
        <cms>
            <wysiwyg>
                <enabled>disabled</enabled>
            </wysiwyg>
        </cms>
        <catalog>
            <frontend>
                <list_mode>grid-list</list_mode>
                <grid_per_page_values>20,200</grid_per_page_values>
                <grid_per_page>20</grid_per_page>
                <list_per_page_values>10,50</list_per_page_values>
                <list_per_page>10</list_per_page>
                <list_allow_all>0</list_allow_all>
                <default_sort_by>position</default_sort_by>
                <flat_catalog_category>0</flat_catalog_category>
                <flat_catalog_product>0</flat_catalog_product>
                <parse_url_directives>0</parse_url_directives>
            </frontend>
            <sitemap>
                <tree_mode>1</tree_mode>
                <lines_perpage>100</lines_perpage>
            </sitemap>
            <review>
                <allow_guest>1</allow_guest>
            </review>
            <productalert>
                <allow_price>1</allow_price>
                <allow_stock>1</allow_stock>
            </productalert>
            <productalert_cron>
                <frequency>D</frequency>
                <time>09:00:00</time>
                <error_email>magento@qbikz.com</error_email>
            </productalert_cron>
            <recently_products>
                <scope>group</scope>
            </recently_products>
            <price>
                <scope>1</scope>
            </price>
            <layered_navigation>
                <display_product_count>1</display_product_count>
                <price_range_calculation>improved</price_range_calculation>
            </layered_navigation>
            <navigation>
                <max_depth>1</max_depth>
            </navigation>
            <seo>
                <site_map>1</site_map>
                <search_terms>1</search_terms>
                <product_url_suffix>/</product_url_suffix>
                <category_url_suffix>/</category_url_suffix>
                <product_use_categories>1</product_use_categories>
                <save_rewrites_history>1</save_rewrites_history>
                <title_separator>-</title_separator>
                <category_canonical_tag>1</category_canonical_tag>
                <product_canonical_tag>1</product_canonical_tag>
            </seo>
            <search>
                <min_query_length>3</min_query_length>
                <max_query_length>50</max_query_length>
                <max_query_words>3</max_query_words>
                <search_type>2</search_type>
                <use_layered_navigation_count>0</use_layered_navigation_count>
            </search>
            <downloadable>
                <order_item_status>9</order_item_status>
                <downloads_number>0</downloads_number>
                <shareable>0</shareable>
                <samples_title>Voorbeelden</samples_title>
                <links_title>Downloads</links_title>
            </downloadable>
            <custom_options>
                <use_calendar>1</use_calendar>
                <date_fields_order></date_fields_order>
                <time_format>24h</time_format>
                <year_range></year_range>
            </custom_options>
        </catalog>
        <cataloginventory>
            <options>
                <can_back_in_stock>1</can_back_in_stock>
                <can_subtract>1</can_subtract>
                <show_out_of_stock>1</show_out_of_stock>
                <stock_threshold_qty>2</stock_threshold_qty>
                <display_product_stock_status>1</display_product_stock_status>
            </options>
            <item_options>
                <manage_stock>1</manage_stock>
                <backorders>2</backorders>
                <max_sale_qty>100</max_sale_qty>
                <min_qty>0</min_qty>
                <min_sale_qty>1</min_sale_qty>
                <notify_stock_qty>1</notify_stock_qty>
                <enable_qty_increments>1</enable_qty_increments>
                <qty_increments>1</qty_increments>
                <auto_return>1</auto_return>
            </item_options>
        </cataloginventory>
        <sitemap>
            <generate>
                <enabled>1</enabled>
                <frequency>D</frequency>
                <error_email>info@store.com</error_email>
            </generate>
        </sitemap>
        <rss>
            <config>
                <active>1</active>
            </config>
            <wishlist>
                <active>1</active>
            </wishlist>
            <catalog>
                <new>1</new>
                <special>1</special>
                <salesrule>1</salesrule>
                <tag>1</tag>
                <category>1</category>
            </catalog>
            <order>
                <status_notified>1</status_notified>
            </order>
        </rss>
        <sendfriend>
            <email>
                <enabled>1</enabled>
                <allow_guest>0</allow_guest>
                <max_recipients>10</max_recipients>
                <max_per_hour>10</max_per_hour>
                <check_by>1</check_by>
            </email>
        </sendfriend>
        <newsletter>
            <subscription>
                <confirm>1</confirm>
                <allow_guest_subscribe>1</allow_guest_subscribe>
            </subscription>
        </newsletter>
        <customer>
            <account_share>
                <scope>0</scope>
            </account_share>
            <online_customers>
                <online_minutes_interval>30</online_minutes_interval>
            </online_customers>
            <create_account>
                <auto_group_assign>0</auto_group_assign>
                <viv_disable_auto_group_assign_default>0</viv_disable_auto_group_assign_default>
                <vat_frontend_visibility>1</vat_frontend_visibility>
                <confirm>0</confirm>
                <email_domain>store.com</email_domain>
                <generate_human_friendly_id>1</generate_human_friendly_id>
            </create_account>
            <address>
                <street_lines>3</street_lines>
                <prefix_show>1</prefix_show>
                <prefix_options>Dhr.;Mw.</prefix_options>
                <middlename_show>1</middlename_show>
                <suffix_show>1</suffix_show>
                <suffix_options>Jr.;Sr.</suffix_options>
                <dob_show>1</dob_show>
                <taxvat_show>0</taxvat_show>
                <gender_show>1</gender_show>
            </address>
            <startup>
                <redirect_dashboard>0</redirect_dashboard>
            </startup>
            <captcha>
                <enable>0</enable>
            </captcha>
        </customer>
        <wishlist>
            <general>
                <active>1</active>
            </general>
        </wishlist>
        <promo>
            <auto_generated_coupon_codes>
                <code_length>12</code_length>
                <format>alphanum</format>
                <prefix>CP-</prefix>
                <suffix></suffix>
                <dash>4</dash>
            </auto_generated_coupon_codes>
        </promo>
        <persistent>
            <options>
                <enabled>1</enabled>
                <lifetime>31536000</lifetime>
                <remember_enabled>1</remember_enabled>
                <remember_default>1</remember_default>
                <logout_clear>1</logout_clear>
                <shopping_cart>1</shopping_cart>
            </options>
        </persistent>
        <sales>
            <general>
                <hide_customer_ip>0</hide_customer_ip>
            </general>
            <reorder>
                <allow>1</allow>
            </reorder>
            <gift_options>
                <allow_order>1</allow_order>
                <allow_items>0</allow_items>
            </gift_options>
            <msrp>
                <enabled>1</enabled>
                <apply_for_all>0</apply_for_all>
                <display_price_type>1</display_price_type>
            </msrp>
        </sales>
        <sales_email>
            <order>
                <copy_to>info@store.com</copy_to>
            </order>
            <order_comment>
                <copy_to>info@store.com</copy_to>
            </order_comment>
            <shipment>
                <copy_to>info@store.com</copy_to>
            </shipment>
            <shipment_comment>
                <copy_to>info@store.com</copy_to>
            </shipment_comment>
            <invoice>
                <copy_to>info@store.com</copy_to>
            </invoice>
            <invoice_comment>
                <copy_to>info@store.com</copy_to>
            </invoice_comment>
            <creditmemo>
                <copy_to>info@store.com</copy_to>
            </creditmemo>
            <creditmemo_comment>
                <copy_to>info@store.com</copy_to>
            </creditmemo_comment>
        </sales_email>
        <tax>
            <classes>
                <shipping_tax_class>10</shipping_tax_class>
            </classes>
            <calculation >
                <algorithm>UNIT_BASE_CALCULATION</algorithm>
                <based_on>origin</based_on>
                <price_includes_tax>1</price_includes_tax>
                <shipping_includes_tax>1</shipping_includes_tax>
                <apply_after_discount>1</apply_after_discount>
                <discount_tax>1</discount_tax>
            </calculation>
            <defaults>
                <country>NL</country>
            </defaults>
            <display>
                <type>3</type>
                <shipping>3</shipping>
            </display>
            <cart_display>
                <price>3</price>
                <subtotal>3</subtotal>
                <shipping>3</shipping>
                <grandtotal>1</grandtotal>
                <full_summary>1</full_summary>
                <zero_tax>1</zero_tax>
            </cart_display>
            <sales_display>
                <price>3</price>
                <subtotal>3</subtotal>
                <shipping>3</shipping>
                <grandtotal>1</grandtotal>
                <full_summary>1</full_summary>
                <zero_tax>1</zero_tax>
            </sales_display>
            <weee>
                <enable>1</enable>
                <display_list>3</display_list>
                <display>2</display>
                <display_sales>2</display_sales>
                <display_email>2</display_email>
                <discount>0</discount>
                <apply_vat>0</apply_vat>
                <include_in_subtotal>1</include_in_subtotal>
            </weee>
        </tax>
        <checkout>
            <options>
                <onepage_checkout_enabled>1</onepage_checkout_enabled>
                <guest_checkout>1</guest_checkout>
                <customer_must_be_logged>1</customer_must_be_logged>
                <enable_agreements>1</enable_agreements>
            </options>
            <cart>
                <delete_quote_after>7</delete_quote_after>
                <redirect_to_cart>0</redirect_to_cart>
                <grouped_product_image>itself</grouped_product_image>
                <configurable_product_image>itself</configurable_product_image>
            </cart>
            <sidebar>
                <display>1</display>
                <count>100</count>
            </sidebar>
            <payment_failed>
                <copy_to>info@store.com</copy_to>
            </payment_failed>
        </checkout>
        <shipping>
            <origin>
                <country_id>NL</country_id>
                <region_id></region_id>
                <postcode></postcode>
                <city></city>
                <street_line1></street_line1>
                <street_lime2></street_lime2>
            </origin>
            <option>
                <checkout_multiple>0</checkout_multiple>
                <checkout_multiple_maximum_qty>25</checkout_multiple_maximum_qty>
            </option>
        </shipping>
        <api>
            <config>
                <charset>UTF-8</charset>
                <session_timeout>7200</session_timeout>
                <compliance_wsi>1</compliance_wsi>
                <wsdl_cache_enabled>1</wsdl_cache_enabled>
            </config>
        </api>
        <api_import>
            <import_settings>
                <enable_search_index>0</enable_search_index>
                <enable_rewrite_index>0</enable_rewrite_index>
                <enable_attribute_index>0</enable_attribute_index>
                <enable_category_relation_index>0</enable_category_relation_index>
                <enable_stock_index>0</enable_stock_index>
                <enable_price_index>0</enable_price_index>
                <bunch_num>1000</bunch_num>
            </import_settings>
        </api_import>
        <admin>
            <emails>
                <password_reset_link_expiration_period>1</password_reset_link_expiration_period>
            </emails>
            <security>
                <use_form_key>1</use_form_key>
                <use_case_sensitive_login>1</use_case_sensitive_login>
                <session_cookie_lifetime>28800</session_cookie_lifetime>
            </security>
            <dashboard>
                <enable_charts>1</enable_charts>
            </dashboard>
            <captcha>
                <enable>0</enable>
            </captcha>
        </admin>
        <system>
            <cron>
                <error_email>info@store.com</error_email>
            </cron>
            <log>
                <clean_after_day>7</clean_after_day>
                <enabled>1</enabled>
                <error_email>info@store.com</error_email>
            </log>
            <adminnotification>
                <frequency>24</frequency>
            </adminnotification>
        </system>
        <dev>
            <restrict>
                <allow_ips>127.0.0.1</allow_ips>
            </restrict>
            <log>
                <active>1</active>
            </log>
        </dev>
    </default>
</config>
